{% view '&modal' with {
    modal: modal
} %}

{% view '&modal' with {
    modal: modal_success
} %}

<a href="#modal_succes_question" data-modal data-effect='mfp-move-from-right' style="display:none;" id="show_modal_succes_question"></a>