<section class="section">
    <div class="container">
        <div class="row is-spaceless">
            <div class="col is-offset-1-pc is-10-pc" data-animate>
                {% view '&profile-form' %}
            </div>
        </div>
    </div>
</section>
